@import url(https://fonts.googleapis.com/css?family=Antic|Syncopate);

/*html {
  background: url(../assets/folio-wallmartpay-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

.auth-view {
  font-family: 'Syncopate', sans-serif;
  color: white;
  margin: 0 auto;
  text-align: center;
}

.auth-view-logo {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
}

.logo {
  display: block;
  font-size: 140px;
}

.slogan {
  font-size: 30px;
}

.signup, .login {
  position: absolute;
  top: 40%;
  margin-top: 8%;
  padding: 40px;
  border: solid 4px;
}

.signup {
  left: 10%;
}

.login {
  right: 10%;
}

/*.btn {
  padding: 15px;
  border: 3px solid;
  margin-top: 20px;
}*/

.btn:hover {
  color: rgb(255,233,75)
}

.text {
  font-size: 29px;
}

/*video#frontpage-video {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: 80px;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(http://d27shkkua6xyjc.cloudfront.net/images/00.Frontpage/_672x378_crop_center-center_70/Frontpage_06_2400px.jpg?mtime=20141117152307 672w) no-repeat;
  background-size: cover;
}*/
