body {
  background-color: rgba(0,0,0,0);
}

#fillgauge {
  margin: auto;
  display: block;
  min-width: 50%;
  padding: 0px;
}

.karmometer-container {
  margin: 0 auto;
  overflow: auto;
  width: 100%;
  text-align: center;
  margin-left: 90%;
}

.karmometer {
  margin: 0 auto;
  width: 50%;
}
